@keyframes pictures {
    0%   { background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe1.jpg");  background-size: cover;}
    20%  { background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe2.jpg");  background-size: cover;}
    40%  { background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe3.jpg");  background-size: cover;}
    60%  { background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe4.jpg");  background-size: cover;}
    80%  { background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe5.jpg"); background-size: cover; }
    100% { background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe6.jpg");  background-size: cover;}
  }

#bgImages{
    height: 800px;
    width: 800px;
    border: 5px solid black;
    border-radius: 25px;
    animation: pictures 20s infinite linear;
    margin: 50px;
}