#order{
    /* margin: 20px;
    padding: 15px; */
    /* border: 2px solid rgb(249, 249, 1); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
div{
    width: 450px;
    height: 450px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 40px;
    transition: width 2s,height 2s;
    margin: 25px;
}

div:hover{
    width: 650px;
    height: 650px;
}

#one{
 

background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe1.jpg");
background-size: cover;

}
#two{

    background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe2.jpg");
    background-size: cover;
}
#three{

    background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe3.jpg");
    background-size: cover;
}
#four{

    border:4px solid black;
    background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe4.jpg");
    background-size: cover;
}
#five{

    border:4px solid black;
    background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe5.jpg");
    background-size: cover;
}

#six{

    border:4px solid black;
    background-image: url("/WEB_D/first/PRACTICE$/Pract012/coffe6.jpg");
    background-size: cover;
}

h2{
    font-size: 25px;
    text-align: center;
    color: aqua;
}


#AddToCart{
    position: relative;
    bottom: 0px;
    right: 2px;
    background-color: orange;
}

h1{
    color: yellow;
}
a{
    position: relative;
    top: 10px;
    right:10px;
}